.advantages {
    background-color:var(--dark-background-color);
    padding-top: 20px;
    padding-bottom: 20px;
} 

@media screen and (min-width: 768px) {
    .advantages{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 768px) {
    .advantages-set {
        display: flex;
        flex-wrap: wrap;
        /* gap: 60px; */
    }
}

@media screen and (min-width:1200px) {
    .advantages-set {
        flex-wrap: nowrap;
    }
}

.advantages-item {
    margin-bottom: 20px;
    width: 308px;
}

.advantages-item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .advantages-item:first-child {
        margin-right: 60px;
        margin-bottom: 32px;
    }

    .advantages-item:nth-child(2) {
        margin-right: 28px;
        margin-bottom: 0;
    }
}





.advantages-icon {
    display: flex;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.advantages-svg {
    width: 32px;
    height: 32px;
    fill: var(--hover-color-dark);
}

.advantages-name {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--main-color-theme-dark);
    text-align: left;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

