/*--Header--*/
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--main-background-color);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 14px;
}
@media (min-width: 768px) {
    .header-container {
        max-width: 768px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .header-container {
        max-width: 1200px;
        padding-top: 24px;
        padding-bottom: 32px;
    }
}
.header-link{
    transition: color var(--transition-hover);
}
.header-link:is(:hover, :focus) {
    color: var(--hover-color-dark);
}
.icon-menu-burger {
    display: none;
}
.header-navigation {
    display: flex;
    gap: 188px
}
.header-logo {
    display: flex;
    gap: 6px;
    align-items: center;
}
.header-logo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: var(--main-color-theme-light);
}
.header-logo-part {
    font-style: italic;
}
.header-logo-icon {
    fill: none;
    stroke: var(--hover-color-dark);
}
.header-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header-social-icon {
    fill: none;
    stroke: var(--main-color-theme-light);
}
.header-social-link {
    display: block;
}
@media screen and (max-width: 1199px) {
    .header-list {
        display: none;
    }
}
.header-list-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--main-color-theme-light);
}
.header-social-list {
    display: flex;
    gap: 18px;
}
.header-social-link,
.header-social-icon{
    transition: stroke var(--transition-hover);
    }
.header-social-link,
.header-social-icon:is(:hover, :focus) {
    stroke: var(--hover-color-dark);
}
@media screen and (max-width: 1199px) {
    .header-social-list {
        display: none;
    }
}
.btn-open-burger {
    display: block;
    background: none;
    border: none;
    padding: 0;
}

.open-burger-icon {
    stroke: var(--main-color-theme-light);
    width: 28px;
    height: 28px;
}

@media screen and (min-width: 768px) {
    .open-burger-icon {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .btn-open-burger {
        display: none;
    }
}
/*--mobile-menu--*/
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s linear;
    width: 220px;
    height: 100%;
    z-index: 100;
    background-color: var(--dark-background-color);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        width: 290px;
    }
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}



.close-menu-burger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: none;
    border: none;
    width: 28px;
    height: 28px;
}

@media screen and (min-width: 768px) {
    .close-menu-burger {
        width: 32px;
        height: 32px;
    }
}

.icon-close-burger {
    stroke: var(--main-color-theme-dark);
    width: 28px;
    height: 28px;
    stroke-width: 2px;
}

@media screen and (min-width: 768px) {
    .icon-close-burger {
        width: 32px;
        height: 32px;
    }
}

.mobile-header-list {
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

.mobile-header-item {
    position: relative;
}

.mobile-header-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-header-link {
    color: var(--main-color-theme-dark);
    transition: color var(--transition-hover);
}

.mobile-header-text {
    color: var(--main-color-theme-dark);
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: -0.02em;
}

.mobile-header-text:hover,
.mobile-header-text:focus {
    color: var(--hover-color-dark);
}

.mobile-social-list {
    display: flex;
    gap: 18px;
}

.mobile-social-item {
    position: relative;
    width: 22px;
    height: 22px;
    padding: 1px;
}

@media screen and (min-width: 768px) {
    .mobile-social-item {
        width: 24px;
        height: 24px;
    }
}

.social-mobile-icon {
    width: 100%;
    height: 100%;
    stroke: var(--main-color-theme-dark);
    stroke-width: 2px;
}

@media screen and (min-width: 768px) {
    .social-mobile-icon {
        stroke-width: 2.5px;
    }
}

.social-mobile-icon:hover,
.social-mobile-link:focus>.social-mobile-icon {
    stroke: var(--hover-color-dark);
}
