.hero {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/hero/hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 72px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}
.conainer-hero-section {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-mobile@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-tablet.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 688px;
    margin-bottom: 50px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-tablet@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1140px;
    margin-bottom: 72px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/hero/hero-desktop@2x.jpg);
  }
}

.hero-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-info {
  width: 299px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--main-color-theme-dark);
  padding-top: 395px;
  padding-bottom: 32px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .hero-info {
    width: 484px;
    padding-top: 381px;
    padding-left: 20px;
    padding-right: 0;
  }
}
@media (max-width: 375px) {
  .hero-info {
    width: 250px;
    padding: 0;
    padding-top: 381px;
    padding-bottom: 32px;
  }
}
.button-link-anchor {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .button-link-anchor {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 40px 20px;
  }
}
.button-link {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 14px;
}
@media (min-width: 768px) {
  .button-link {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .button-link {
    flex-wrap: wrap;
  }
}
.hero-button-buy {
  color: var(--main-color-theme-dark);
  width: 120px;
  height: 41px;
  padding: 12px 28px;
  border-radius: 100px;
  background-color: var(--hover-color-dark);
  font-size: 14px;
  line-height: 1.21;
  border: none;
  transition-property: background-color, color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .hero-button-buy {
    width: 144px;
    height: 45px;
    padding: 14px 40px;
  }
}
.hero-button-buy:hover {
  background-color: var(--hover-color-light);
  color: var(--hover-color-dark);
  animation: var(--button-animation);
}
.hero-button-made {
  width: 159px;
  height: 41px;
  border: 1px solid var(--main-color-theme-dark);
  border-radius: 100px;
  background-color: transparent;
  color: var(--main-color-theme-dark);
  padding: 0;
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  transition: color var(--transition-hover), border var(--transition-hover);
}
@media (min-width: 768px) {
  .hero-button-made {
    width: 183px;
    height: 45px;
  }
}
.hero-button-made:hover {
  border: 1px solid var(--hover-color-dark);
  color: var(--hover-color-dark);
  animation: var(--button-animation);
}
.scroll-down-icon {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  height: 38px;
  transition-property: color;
  transition-duration: 250ms;
}
.icon-scroll {
  position: absolute;
  top: 0;
  left: 85px;
  background-color: var(--main-color-theme-dark);
  fill: var(--hover-color-dark);
  border-radius: 50%;
  transition: background-color var(--transition-hover),
    fill var(--transition-hover);
}
.scroll-down {
  z-index: 1;
  color: var(--main-color-theme-dark);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  padding: 10px 45px 10px 0;
  letter-spacing: -0.03em;
  transition: color var(--transition-hover);
}

.scroll-down-icon:hover .scroll-down {
  color: var(--hover-color-dark);
}
.scroll-down-icon:hover .icon-scroll {
  background-color: var(--hover-color-dark);
  fill: var(--main-color-theme-dark);
}
/* modal buy now */
.backdrop-buy {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition-duration: 500ms;
  transition: opacity 500ms, visibility 500ms;
}
.backdrop-buy.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal-buy {
  transform: scale(0);
}
.modal-buy {
  position: relative;
  overflow: auto;
  max-width: 609px;
  width: 100%;
  max-height: 90vh;
  background-color: #fafafa;
  border-radius: 15px;
  transition: transform 500ms;
  font-family: var(--main-font-family);
}
.modal-close-buy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fafafa;
  border: none;
  transition: fill var(--transition-hover);
}
.modal-close-buy:hover {
  fill: #f16529;
}
.modal-close-buy-pop:hover {
  background-color: #f16529;
}
.modal-close-buy-pop:hover .close-pop-up-buy {
  background-color: #f16529;
  fill: #fafafa;
}
.close {
  width: 14px;
  height: 14px;
}
.close-pop-up-buy {
  width: 11px;
  height: 11px;
  fill: #f16529;
}

.modal-close-pop-buy:hover,
.modal-close-pop-buy:focus {
  background: #f16529;
}
.form-buy {
  padding: 48px;
}
.title-modal {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.title-buy {
  color: var(--hover-color-dark);
  font-family: var(--main-font-family);
}
.product {
  width: 120px;
  height: 107px;
  padding-bottom: 14px;
}
@media (max-width: 480px) {
  .product {
    width: 167px;
    height: 148px;
    margin: 0 auto;
  }
}
.mass-ch {
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  width: 96px;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
}

.container-form {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 18px;
  gap: 8px;
}
.form-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.confidential-info {
  height: 66px;
  width: 100%;
  border-radius: 13px;
  margin-bottom: 10px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: none;
  padding: 0;
  padding-left: 24px;
  transition: border var(--transition-hover);
}
@media (max-width: 480px) {
  .confidential-info {
    height: 45px;
  }
}
.confidential-info-name {
  width: 100%;
}
.confidential-info::placeholder {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
@media (max-width: 480px) {
  .confidential-info::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
}
.first-last-name {
  display: flex;
  gap: 21px;
}
@media (max-width: 480px) {
  .first-last-name {
    flex-wrap: wrap;
  }
}
.icon-decoration {
  position: relative;
}
.icon-mastercard {
  position: absolute;
  top: 18px;
  right: 24px;
  width: 32px;
  height: 32px;
}
@media (max-width: 480px) {
  .icon-mastercard {
    top: 10%;
    right: 24px;
  }
}
.icon-phone-buy {
  width: 32px;
  height: 32px;
}

.kod-country {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 0px;
  gap: 18px;
  box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
  .kod-country {
    gap: 8px;
    top: 11%;
    left: 18px;
  }
}

.kod {
  top: 23px;
  left: 74px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}
@media (max-width: 480px) {
  .kod-country {
    font-size: 14px;
    line-height: 1.21;
  }
}
.user-phone-number {
  padding-left: 177px;
}
@media (max-width: 480px) {
  .user-phone-number {
    padding-left: 125px;
  }
}
.user-phone-number::placeholder {
  padding-left: 0;
}
.comment-buy {
  resize: none;
  font-size: 12px;
  outline: none;
  line-height: 1.16;
  height: 137px;
  padding: 22px 0 0 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  transition: border var(--transition-hover);
}
.comment-buy::placeholder {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
@media (max-width: 480px) {
  .comment-buy::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
}
.slide-buy:hover,
.mass-ch:focus,
textarea:hover, /* тут */
textarea:focus,
.confidential-info:hover,
.confidential-info:focus {
  outline: none;
  border: 1.5px solid var(--hover-color-dark);
}
.modal-popup-buy {
  padding-top: 84px;
  padding-left: 68px;
  padding-right: 24px;
  position: relative;
  overflow: auto;
  max-width: 311px;
  max-height: 350px;
  height: 100%;
  background-image: url(/img/hero/pop-up-modal.png),
    linear-gradient(var(--hover-color-dark), var(--hover-color-dark));
  background-position-y: 120px;
  background-repeat: no-repeat;
  background-color: var(--hover-color-dark);
  transition: transform var(--transition-hover);
  transition-duration: 500ms;
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .modal-popup-buy {
    background-image: url(/img/hero/pop-up-modal-desktop.png),
      linear-gradient(var(--hover-color-dark), var(--hover-color-dark));
    background-position-y: 96px;
    max-width: 516px;
    max-height: 414px;
    padding: 154px 44px 154px 163px;
  }
}
.backdrop-buy.is-hidden .modal-popup-buy {
  transform: scale(0);
}
.popup-info {
  width: 219px;
  height: 96px;
}
@media (min-width: 768px) {
  .popup-info {
    width: 309px;
    height: 106px;
  }
}

.popup-title-buy {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #fcf1e0;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .popup-title-buy {
    font-size: 24px;
    line-height: 1.16;
  }
}
.popup-text-buy {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
@media (min-width: 768px) {
  .popup-text-buy {
    font-size: 18px;
    line-height: 1.33;
  }
}
@media (min-width: 768px) {
  .discount {
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
  }
}
.modal-button-icon-buy {
  width: 8px;
  height: 8px;
}
.slider-product:focus > .list-product:first-child {
  transform: translateX(180px);
}
/* slider */
/* @media (max-width: 480px) {
  .slider-container-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
} */
@media (max-width: 480px) {
  .slider-buy {
    width: 100%;
    max-width: 231px;
    height: 257px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 14px;
  }
}

@media (min-width: 481px) {
  .slides-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .slides-buy {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}
@media (max-width: 480px) {
  .slide:nth-of-type(even) {
    background-color: #ffffff;
  }
}
.slide-buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 160px;
  height: 196px;
  background: var(--main-color-theme-dark);
}
@media (max-width: 480px) {
  .slide-buy {
    flex-shrink: 0;
    width: 100%;
    height: 257px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .slide a {
    background: none;
    border: none;
  }
}
a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}
@media (max-width: 480px) {
  .slider::before,
  .slider::after {
    content: '';
    z-index: 1;
    background: none;
    pointer-events: none;
  }
}
@media (max-width: 480px) {
  .slider__nav {
    box-sizing: border-box;
    position: relative;
    bottom: 56%;
    left: 60%;
    width: 200px;
    padding-bottom: 32px;
    margin-left: -100px;
  }
}
@media (max-width: 480px) {
  .slider__navlink {
    display: inline-block;
    background: rgba(17, 17, 17, 0.1);
    border-radius: 50%;
    border-color: transparent;
    width: 13px;
    height: 13px;
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 480px) {
  .slider__navlink:hover {
    transform: scale(1.6);
    width: 28px;
    border-radius: 15px;
    background: #fd9222;
  }
}
@media (max-width: 480px) {
  .slider__navlink:focus,
  .slider__navlink:active {
    transform: scale(1.6);
    width: 28px;
    border-radius: 15px;
    background: #fd9222;
  }
}
