.rewiews-list{
    display:flex;
}

.review-btn{
    display: block;
    margin:0 auto;
    border: 1px solid var(--hover-color-dark);
    border-radius: 100px;
    width:222px;
    height: 50px;
}

.rewiews-modal-form{
    display: none;
}

.rewiews-modal-popup{
    display:none;
}