/*Top sellers section*/

.top-sellers-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-sellers-item {
  outline: 2px outset var(--secondary-color-theme-light);
  outline-offset: -10px;
  border-radius: 15px;
}
.top-sellers-item:hover .top-sellers-img {
  transform: scale(1.5);
}
.top-sellers-img {
  transition: transform 0.25s;
  border-radius: 15px;
}
.top-sellers-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.top-sellers-text {
  color: var(--main-color-theme-light);
  display: block;
  width: 407px;
}
.top-sellers-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  padding: 14px 40px;
  width: 162px;
  height: 50px;
  color: var(--main-color-theme-dark);
  background-color: var(--hover-color-dark);
  border-radius: 100px;
  border: none;
}
@keyframes pulse {
  from {
    box-shadow: 0 0 25px var(--hover-color-dark),
      0 0 50px var(--hover-color-light);
  }
}
.top-sellers-button:focus,
.top-sellers-button:hover {
  color: var(--hover-color-dark);
  background-color: var(--hover-color-light);
  animation: pulse 0.5s ease-in-out;
}
