.dark-btn {
    background-color: var(--hover-color-dark);
    border-radius: 100px;
    border: none;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    color: var(--main-color-theme-dark);
}

.dark-btn:hover,
.dark-btn:focus {
    background-color: var(--hover-color-light);
    color: var(--hover-color-dark);
}


.transperent-btn-dark-theme {
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid var(--main-color-theme-dark);
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    color: var(--main-color-theme-dark);
}

.transperent-btn-dark-theme:hover,
.transperent-btn-dark-theme:focus {
    color: var(--hover-color-dark);
    border: 1px solid var(--hover-color-dark);
}

.transperent-btn-light-theme {
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid var(--hover-color-dark);
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    color: var(--main-color-theme-light);
}

.transperent-btn-light-theme:hover,
.transperent-btn-light-theme:focus {

    color: var(--main-color-theme-dark);
    border: none;
    background-color: var(--hover-color-dark);
}