html {
  scroll-behavior: smooth;
}
/*TEXT*/
body {
  font-family: var(--main-font-family);
  background-color: var(--main-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* H2 */
.section-title {
  font-size: 24px;
  line-height: 1.12;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color-theme-light);
}

.accent {
  color: var(--hover-color-dark);
}

/*Section*/
.section {
  padding-top: 72px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 128px;
  }
}

/* ----- ADAPTIVE CONTAINER ----- */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* ----- ADAPTIVE CONTAINER ----- */
