<!--Footer-->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-top">
      <p class="tagline">
        <span class="color-tagline">Chocolate</span> a delicious cure for a bad
        day
      </p>
      <div class="footer-contacts">
        <div>
          <h2 class="contacts-text">Contact us</h2>
          <address>
            <ul class="address-list">
              <li>
                <a class="contacts-link header-link" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li>
                <a
                  class="contacts-link header-link"
                  href="mailto:simplychoc@gmail.com"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-socials">
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              title="instagram"
              ><svg class="icon-footer" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank" title="twitter"
              ><svg class="icon-footer" width="22" height="22">
                <use href="/img/icons.svg#icon-twitter"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <nav>
        <ul class="footer-navigation-list">
          <li>
            <a class="footer-navigation-link header-link" href="index.html"
              >Home</a
            >
          </li>
          <li>
            <a class="footer-navigation-link header-link" href="#how-its-made"
              >How it’s made?</a
            >
          </li>
          <li>
            <a class="footer-navigation-link header-link" href="#our-products"
              >Our products</a
            >
          </li>
          <li>
            <a class="footer-navigation-link header-link" href="#top-sellers"
              >Top sellers</a
            >
          </li>
          <li>
            <a
              class="footer-navigation-link header-link"
              href="#chocolate-is-loved"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
