<footer id="link-footer">
  <div>
    <div>
      <p><span>Chocolate</span> a delicious cure for a bad day</p>
      <address>
        <h2>Contact us</h2>
        <ul>
          <li>
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
          </li>
          <li>
            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
          </li>
        </ul>
        <div>
          <ul>
            <li>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                title="instagram"
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/"
                target="_blank"
                title="twitter"
              ></a>
            </li>
          </ul>
        </div>
      </address>
    </div>
    <div>
      <nav>
        <ul>
          <li>
            <a href="./index.html">Home</a>
          </li>
          <li>
            <a href="#tittle-how-its-made">How it’s made?</a>
          </li>
          <li>
            <a href="./index.html">Our products</a>
          </li>
          <li>
            <a href="./index.html">Top sellers</a>
          </li>
          <li>
            <a href="./index.html">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
