<!-- Header -->
<header class="header">
    <div class=" container header-container">
        <nav class="header-navigation">
            <a class="logo link" href="index.html">
                <div class="header-logo">
                <p class="header-logo-text"><span class="header-logo-part">SIMPLY</span> CHOCOLATE</p>
                <svg class="header-logo-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-chocolate"></use>
                </svg>
                </div>
            </a>
            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link header-list-text" href="index.html">Home</a>
                </li>
                <li class="header-item">
                    <a class="header-link header-list-text" href="#how-its-made">How it’s made?</a>
                </li>
                <li class="header-item">
                    <a class="header-link header-list-text" href="#our-products">Our products</a>
                </li>
                <li class="header-item">
                    <a class="header-link header-list-text" href="#top-sellers">Top sellers</a>
                </li>
                <li class="header-item">
                    <a class="header-link header-list-text" href="#chocolate-is-loved">Chocolate is loved</a>
                </li>
                </ul>
            </nav>
            <ul class="header-social-list">
                <li class="header-social-item">
                    <a class="header-social-link" target="_blank" href="https://www.instagram.com/" rel="noreferrer noopener nofollow">
                    <svg class="header-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-instagram"></use>
                    </svg>
                    </a>
                </li>
                <li class="header-social-item">
                    <a class="header-social-link" target="_blank" href="https://twitter.com/" rel="noreferrer noopener nofollow">
                    <svg class="header-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-twitter"></use>
                    </svg>
                    </a>
                </li>
            </ul>
            <button type="button" class="btn-open-burger js-open-menu">
                <svg class="open-burger-icon">
                    <use href="/img/icons.svg#icon-menu-burger"></use>
                </svg>
            </button>
    </div>
    <!-- mobile-menu -->
    <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu-container">
    <button type="button" class="close-menu-burger js-close-menu">
        <svg class="icon-close-burger">
        <use href="/img/icons.svg#icon-x"></use>
        </svg>
    </button>
    <ul class="mobile-header-list">
        <li class="mobile-header-item">
            <a href="#home" class="menu-mobile-link mobile-header-text">Home</a>
        </li>
        <li class="mobile-header-item">
            <a href="#how-its-made" class="mobile-header-link mobile-header-text">How it’s made?</a>
        </li>
        <li class="mobile-header-item">
            <a href="#our-products" class="mobile-header-link mobile-header-text">Our products</a>
        </li>
        <li class="mobile-header-item">
            <a href="#top-sellers" class="mobile-header-link mobile-header-text">Top sellers</a>
        </li>
        <li class="mobile-header-item">
            <a href="#chocolate-is-loved" class="mobile-header-link mobile-header-text">Chocolate is loved</a>
        </li>
    </ul>
    <ul class="mobile-social-list">
        <li class="mobile-social-item">
        <a target="_blank" rel="noreferrer noopener nofollow" href="https://www.instagram.com/" class="social-mobile-link">
            <svg class="social-mobile-icon">
            <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
        </a>
        </li>
        <li class="mobile-social-item">
        <a target="_blank" rel="noreferrer noopener nofollow" href="https://twitter.com/" class="social-mobile-link">
            <svg class="social-mobile-icon" >
            <use href="/img/icons.svg#icon-twitter"></use>
            </svg>
        </a>
        </li>
    </ul>
    </div>
</div>
</header>