<section class="hero">
  <div class="contaienr">
    <h1 class="hero-title">hero section</h1>
    <p class="hero-info">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="button-link-conatiner">
      <div class="button-conatiner">
        <button type="button" class="hero-button-buy">Buy now</button>
        <button type="button" class="hero-button-made">
          <a href="#made"> How it's made</a>
        </button>
      </div>
      <div class="scroll-down-icon">
        <a class="scroll-down" href="#link-footer"> scroll down</a>
        <svg class="icon-scroll" width="38" height="38">
          <use href="../img/hero/icon.svg#icon-scroll-down"></use>
        
        </svg>
    
      </div>
    </div>
  </div>
</section>
<!-- <div class="backdrop">
    <div class="modal">
      <button class="modal-close" type="button">
        <svg>
          <use
            href="../img/hero/icon.svg#icon-x-close"
            width="28"
            height="28"
          ></use>
        </svg>
      </button>
      <form class="form" name="buy-now" autocomplete="on" novalidate>
        <h2 class="title-modal"><samp class="title-buy">Buy</samp> now</h2>
        <div class="buy-product">
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
        <div class="container-form">
          <label class="form-info" for="user-name">Personal information</label>
          <div class="first-last-name">
            <input
              class="confidential-info"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
            />
            <input
              class="confidential-info"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Surname"
            />
          </div>
          <label class="form-info" for="user-email">Email</label>
          <input
            class="confidential-info"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Enter your email"
          />
          <label class="form-info" for="user-phone">Phone number</label>
          <input
            class="confidential-info"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Phone number"
          />
          <label class="form-info" for="user-card"> Card number</label>
          <input
            class="confidential-info"
            type="number"
            name="user-card"
            id="user-card"
            placeholder="Enter card"
          />
          <label class="form-info" for="user-comment"></label>
          <textarea
            name="user-comment"
            id="user-comment"
            placeholder="Enter text"
          ></textarea>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div> -->
