<section class="hero">
    <div class="container">
      <h1 class="hero-title">hero section</h1>
      <p class="hero-info">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="button-link-anchor">
        <div class="button-link">
          <button type="button" class="hero-button-buy">Buy now</button>
          <button type="button" class="hero-button-made">
            <a href="#made"> How it's made</a>
          </button>
        </div>
        <div class="scroll-down-icon">
          <a class="scroll-down" href="#link-footer"> scroll down</a>
          <svg class="icon-scroll" width="38" height="38">
            <use href="../img/hero/icon.svg#icon-scroll-down"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>
