<section class="how-its-made" id="made">
  <div class="container">
    <h2 class="tittle-how-its-made">how it’s <span class="tittle-how-its-made-second-part">made</span></h2>
    <div class="process">
      <div class="process-video">
        <picture class="process-picture"> 
        <source 
          srcset="
          /img/how-its-made/process-desktop.jpg 1x, 
          /img/how-its-made/process-desktop@2x.jpg 2x" 
          media="(min-width: 1200px)" />          
        <source 
          srcset="
          /img/how-its-made/process-tablet.jpg 1x,
          /img/how-its-made/process-tablet@2x.jpg 2x"
          media="(min-width: 768px)"/>
        <source 
          srcset="
          /img/how-its-made/process-mobile.jpg 1x,
          /img/how-its-made/process-mobile@2x.jpg 2x" 
          media="(max-width: 768px)" />
          <img src="/img/how-its-made/process-desktop.jpg" alt="making-chocolate">
        </picture>
        
        <button class="play-btn" type="button">
          <svg class="play-icon" width="20" height="21">
            <use href="">
            </use>
          </svg>
        </button>
      </div>
      <div class="process-description">
        <p class="process-p">Try our chocolates today and discover the perfect balance of flavor</p>
        <ul class="process-list">
          <li class="process-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
          </li>
          <li class="process-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="process-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass
            becomes
            uniform and silky.
          </li>
          <li class="process-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="process-item">
            Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>