<!-- Our Products -->
<section class="our-products section" id="our-products">
  <div class="container">
    <h2 class="section-title our-products-title">
      our <span class="accent">products</span>
    </h2>

    <div class="slider-list-div">
      <ul class="slider-list">
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-1.jpg    1x,
              /img/our-products/chocolate-1@2x.jpg 2x
            "
            src="/img/our-products/chocolate-1.jpg"
            alt="orange chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">orange</p>
              <p class="our-products-card-text-second">Dark chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">45 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-2.jpg    1x,
              /img/our-products/chocolate-2@2x.jpg 2x
            "
            src="/img/our-products/chocolate-2.jpg"
            alt="apple&cramberry chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">APPLE&CRANBERRY</p>
              <p class="our-products-card-text-second">Milk chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">50 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-3.jpg    1x,
              /img/our-products/chocolate-3@2x.jpg 2x
            "
            src="/img/our-products/chocolate-3.jpg"
            alt="limea&sea chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">lime&sea salt</p>
              <p class="our-products-card-text-second">Dark chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">66 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-4.jpg    1x,
              /img/our-products/chocolate-4@2x.jpg 2x
            "
            src="/img/our-products/chocolate-4.jpg"
            alt="pineapple chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">pineapple</p>
              <p class="our-products-card-text-second">Dark chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">54 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-5.jpg    1x,
              /img/our-products/chocolate-5@2x.jpg 2x
            "
            src="/img/our-products/chocolate-5.jpg"
            alt="classic dark chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">classic</p>
              <p class="our-products-card-text-second">Milk chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">45 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-6.jpg    1x,
              /img/our-products/chocolate-6@2x.jpg 2x
            "
            src="/img/our-products/chocolate-6.jpg"
            alt="honey chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">honey</p>
              <p class="our-products-card-text-second">Milk chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">50 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-7.jpg    1x,
              /img/our-products/chocolate-7@2x.jpg 2x
            "
            src="/img/our-products/chocolate-7.jpg"
            alt="roasted fruits chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">Roasted fruits</p>
              <p class="our-products-card-text-second">Dark chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">66 uah</button>
          </div>
        </li>
        <li class="slider-list-element">
          <img
            srcset="
              /img/our-products/chocolate-8.jpg    1x,
              /img/our-products/chocolate-8@2x.jpg 2x
            "
            src="/img/our-products/chocolate-8.jpg"
            alt="classic white chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">classic</p>
              <p class="our-products-card-text-second">White chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">54 uah</button>
          </div>
        </li>
        <!-- ADDED FOR SLIDE -->
        <li class="slider-list-element desktop-added">
          <img
            srcset="
              /img/our-products/chocolate-1.jpg    1x,
              /img/our-products/chocolate-1@2x.jpg 2x
            "
            src="/img/our-products/chocolate-1.jpg"
            alt="orange chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">orange</p>
              <p class="our-products-card-text-second">Dark chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">45 uah</button>
          </div>
        </li>
        <li class="slider-list-element desktop-added">
          <img
            srcset="
              /img/our-products/chocolate-2.jpg    1x,
              /img/our-products/chocolate-2@2x.jpg 2x
            "
            src="/img/our-products/chocolate-2.jpg"
            alt="apple&cramberry chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">APPLE&CRANBERRY</p>
              <p class="our-products-card-text-second">Milk chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">50 uah</button>
          </div>
        </li>
        <li class="slider-list-element desktop-added">
          <img
            srcset="
              /img/our-products/chocolate-3.jpg    1x,
              /img/our-products/chocolate-3@2x.jpg 2x
            "
            src="/img/our-products/chocolate-3.jpg"
            alt="limea&sea chocolate"
          />
          <div>
            <div class="our-products-card-text">
              <p class="our-products-card-text-first">lime&sea salt</p>
              <p class="our-products-card-text-second">Dark chocolate</p>
            </div>
            <button type="button" class="our-products-card-btn">66 uah</button>
          </div>
        </li>
        <!-- END OF LIST -->
      </ul>
    </div>
    <ul class="slider-btn-list">
      <li>
        <button
          type="button"
          class="slider-btn active-slider-btn products-slider-btn"
        ></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
      <li>
        <button type="button" class="slider-btn products-slider-btn"></button>
      </li>
    </ul>
  </div>
</section>
