<section class="rewiews">
  <!--   rewiews section  -->
  <div class="container">
    <h2 class="section-title">chocolate is loved</h2>
    <ul class="rewiews-list">
      <li class="rewiews-list-item">
        <img class="rewiews-author-photo" src="#" alt="name" />
        <h3 class="rewiews-author-name"></h3>
        <p class="rewiews-author-text"></p>
      </li>
      <li class="rewiews-list-item">
        <img class="rewiews-author-photo" src="#" alt="name" />
        <h3 class="rewiews-author-name"></h3>
        <p class="rewiews-author-text"></p>
      </li>
      <li class="rewiews-list-item">
        <img class="rewiews-author-photo" src="#" alt="name" />
        <h3 class="rewiews-author-name"></h3>
        <p class="rewiews-author-text"></p>
      </li>
      <li class="rewiews-list-item">
        <img class="rewiews-author-photo" src="#" alt="name" />
        <h3 class="rewiews-author-name"></h3>
        <p class="rewiews-author-text"></p>
      </li>
      <li class="rewiews-list-item">
        <img class="rewiews-author-photo" src="#" alt="name" />
        <h3 class="rewiews-author-name"></h3>
        <p class="rewiews-author-text"></p>
      </li>
      <li class="rewiews-list-item">
        <img class="rewiews-author-photo" src="#" alt="name" />
        <h3 class="rewiews-author-name"></h3>
        <p class="rewiews-author-text"></p>
      </li>
    </ul>
    <ul class="slider-btn-list">
      <li><button type="button" class="slider-btn"></button></li>
      <li><button type="button" class="slider-btn"></button></li>
      <li><button type="button" class="slider-btn"></button></li>
    </ul>
    <button type="submit" class="review-btn">Leave a review</button>
  </div>

  <!--   LEAVE A REVIEW FORM   -->

  <div class="rewiews-modal-form">
    <button class="modal-close" type="button">
      <svg class="modal-button-icon">
        <use href="#"></use>
      </svg>
    </button>
    <p class="rewiew-form-title">
      Leave your contacts and we will call you back
    </p>
    <form class="rewiew-form" name="contact-form" autocomplete="off">
      <div class="rewiew-form-field">
        <label class="rewiew-form-label" for="user-name">Name</label>
        <input
          class="rewiew-form-input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder=" Name "
        />
      </div>

      <div class="rewiew-form-field">
        <label class="rewiew-form-label" for="user-email">Email</label>
        <input
          class="rewiew-form-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder=" Email "
        />
      </div>

      <div class="rewiew-form-field">
        <label class="rewiew-form-label" for="user-phone">+380</label>
        <input
          class="rewiew-form-input"
          type="tel"
          name="user-phone"
          id="user-phone"
          placeholder="Phone number"
        />
        <svg class="rewiew-form-icon">
          <use href="#"></use>
        </svg>
      </div>

      <div class="rewiew-form-textarea">
        <textarea
          class="rewiew-form-input textarea"
          name="user-message"
          id="user-message"
          placeholder="Enter text"
        ></textarea>
      </div>

      <button class="rewiew-form-button" type="submit">Send</button>
    </form>
  </div>

  <!--   thank you for your feedback pop-up -->
  <div class="rewiews-modal-popup">
    <button class="modal-close" type="button">
      <svg class="modal-button-icon">
        <use href="#"></use>
      </svg>
    </button>
    <p class="rewiew-popup-title">thank you for your feedback!</p>
    <p class="rewiew-popup-text">We are so happy to hear from you!</p>
  </div>
</section>
