<section class="subscribe">
    <div class="container">
    <h2 class="subscribe-title">
        explore our new <br> chocolate first
    </h2>
    <p class="subscribe-subtitle">
        From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.
    </p>
    <button type="button" class="subscribe-button" data-modal-open>Subscribe</button>
</div>
</section>

<!--Modal window-->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <img src="/src/img/pop-up/pop-up-1-mobile.jpg" alt="" width="311" height="169">
        <strong class="modal-title">explore our <br> new chocolate first</strong>
        <form class="submit-form" name="submit_form">
            <input  class="submit-input" type="email" name="submit_form" placeholder="Email" required>
            <button class="submit-btn btn" type="submit" data-modal-close>Submit</button>
        </form>
    </div>
    </div>

    