<!--Top-sellers section-->
<section class="section-top-sellers">
    <div class="container">
      <h2 class="section-title" id="top-sellers">
        <span class="accent">top </span>sellers
      </h2>
    <div>
    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              /img/top-sellers/top-seller-1-desktop@2x.jpg 2x,
              /img/top-sellers/top-seller-1-desktop.jpg    1x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/top-sellers/top-seller-1-tablet@2x.jpg 2x,
              /img/top-sellers/top-seller-1-tablet.jpg    1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/top-sellers/top-seller-1-mobile@2x.jpg 2x,
              /img/top-sellers/top-seller-1-mobile.jpg    1x
            "
            media="(min-width: 375px)"
          />
          <img class="top-sellers-img"
            src="/img/top-sellers/top-seller-1-mobile.jpg"
            alt="pieces of chocolate stacked on top of each other"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              /img/top-sellers/top-seller-2-desktop@2x.jpg 2x,
              /img/top-sellers/top-seller-2-desktop.jpg    1x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/top-sellers/top-seller-2-tablet@2x.jpg 2x,
              /img/top-sellers/top-seller-2-tablet.jpg    1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/top-sellers/top-seller-2-mobile@2x.jpg 2x,
              /img/top-sellers/top-seller-2-mobile.jpg    1x
            "
            media="(min-width: 375px)"
          />
          <img class="top-sellers-img"
            src="/img/top-sellers/top-seller-2-mobile.jpg"
            alt="pieces of
        chocolate with nuts stacked on top of each other"
          />
        </picture>
      </li>
      <li class="top-sellers-item top-sellers-item-desk">
        <img class="top-sellers-img"
          srcset="
            /img/top-sellers/top-seller-3-desktop@2x.jpg 2x,
            /img/top-sellers/top-seller-3-desktop.jpg    1x
          "
          src="/img/top-sellers/top-seller-3-desktop.jpg"
          width="368"
          height="464"
          alt="pieces of different type of chocolate stacked on top of each other"
        />
      </li>
    </ul>
    </div>
    <div class="top-sellers-bottom">
    <p class="top-sellers-text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="top-sellers-button" type="button">Buy now</button>
  </div>
  </div>
  

  <!-- buy now modal 
  <div class="buy-now-modal">
    <button class="buy-now-modal-close" type="button">
      <svg class="buy-now-modal-icon">
        <use href="#"></use>
      </svg>
    </button>
    <h2 class="buy-now-modal-title">
      <span class="buy-now-modal-title-orange">Buy </span>now
    </h2>
    <ul>
      <li>
        <img
          src="/img/top-sellers/buy-now-1.jpg"
          alt="pieces of dark chocolate"
          srcset="
            /img/top-sellers/buy-now-1@2x.jpg 2x,
            /img/top-sellers/buy-now-1.jpg    1x
          "
        />
      </li>
      <li>
        <img
          src="/img/top-sellers/buy-now-2.jpg"
          alt="pieces of white and milk chocolate"
          srcset="
            /img/top-sellers/buy-now-2@2x.jpg 2x,
            /img/top-sellers/buy-now-2.jpg    1x
          "
        />
      </li>
      <li>
        <img
          src="/img/top-sellers/buy-now-3.jpg"
          alt="bar of dark chocolate"
          srcset="
            /img/top-sellers/buy-now-3@2x.jpg 2x,
            /img/top-sellers/buy-now-3.jpg    1x
          "
        />
      </li>
    </ul>
    <form class="buy-now-modal-form" name="buy-form" autocomplete="on">
      <label class="user-label" for="user-name">personal information</label>
      <input
        class="user-input"
        id="user-name"
        type="text"
        name="user-name"
        placeholder="Name"
        
      />
      <input
        class="user-input"
        id="user-name"
        type="text"
        name="user-name"
        placeholder="Surname"
      />
      <label class="user-label" for="user-email">Email</label>
      <input
        class="user-input"
        id="user-email"
        type="email"
        name="user-email"
        placeholder="Enter your email"
        required
      />
      <label class="user-phone-number" for="user-phone">+380</label>
      <input
        class="user-phone-input"
        type="tel"
        name="user-phone"
        id="user-phone"
        placeholder="Phone number"
      />
      <label class="user-card-number" for="card-number">Card number</label>
      <input
        class="user-card-input"
        type="number"
        name="card-number"
        id="card-number"
        placeholder="Enter card"
      />
      <label class="user-label" for="user-comment">Comment</label>
      <textarea
        class="user-textarea"
        id="user-comment"
        name="user-comment"
        placeholder="Enter text"
      ></textarea>
      <button class="buy-now-button" type="submit">Submit</button>
    </form>
  </div>
-->
  <!-- thank you for order pop-up 
  <div class="top-sellers-popup">
    <button class="top-sellers-popup-close" type="button">
      <svg class="top-sellers-popup-icon">
        <use href="#"></use>
      </svg>
    </button>
    <h2 class="top-sellers-popup-title">thank you!</h2>
    <p class="top-sellers-popup-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div> -->
</section>
